<div class="card" style="margin:auto">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <div class="img-div">
          <img src="../../assets/img/avatar.jpg" alt="" srcset="" />
        </div>
      </div>
      <div class="col ml-3">
        <h2 class="text-capitalize">
          angel priya
        </h2>
        <h4 style="font-weight:400 ;">
          BITS Pillani
        </h4>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-4 d-flex justify-content-end">
            <button class="btn btn-add mx-0">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <label class="ml-2">Add to network</label>
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-msg mx-0">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <label class="ml-2">Message</label>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <h4 class="card-title">Card title</h4>
    <p class="card-text">Some example text. Some example text.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="margin-left:auto">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <div class="img-div">
          <img src="../../assets/img/ryan.jpg" alt="" srcset="" />
        </div>
      </div>
      <div class="col ml-3">
        <h2 class="text-capitalize">
          Ryan Gosling
        </h2>
        <h4 style="font-weight:400 ;">
          RIMS
        </h4>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-4 d-flex justify-content-end">
            <button class="btn btn-add mx-0">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <label class="ml-2">Add to network</label>
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-msg mx-0">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <label class="ml-2">Message</label>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <h4 class="card-title">Card title</h4>
      <p class="card-text">Some example text. Some example text.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
<div class="card" style="margin-left:auto">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <div class="img-div">
          <img src="../../assets/img/eva.jpg" alt="" srcset="" />
        </div>
      </div>
      <div class="col ml-3">
        <h2 class="text-capitalize">
          Eva Diva
        </h2>
        <h4 style="font-weight:400 ;">
          GU
        </h4>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-4 d-flex justify-content-end">
            <button class="btn btn-add mx-0">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <label class="ml-2">Add to network</label>
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-msg mx-0">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <label class="ml-2">Message</label>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <h4 class="card-title">Card title</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
