<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-c-tabs">
        <div class="tab-content">
          <div class="modal-body">
            <div class="tab-pane fade in show active" id="panelnotice" role="tabpanel"
              style="margin-left: 20px; margin-right: 20px">
              <div class="row" style="margin-bottom:10px">
                <div class="col-md-2"><label>Title: </label></div>
                <div class="col-md-10"><input type="text" name="eventname" class="form-control" required /></div>
              </div>
              <div class="row" style="margin-bottom:10px">
                <div class="col-md-2"><label>Notice: </label> </div>
                <div class="col-md-10"><textarea name="descr" class="form-control border" required></textarea></div>
              </div>
              <div class="row" style="margin-bottom:10px">
                <div class="col-md-2"><label control-label>Choose Image: </label></div>
                <div class="col-md-10"><input type="file" name="image" id="imageupload" value="" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="text-center form-sm mt-2">
            <button class="btn btn-info" style="margin-bottom: 10px">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Add Notice</a>
</div>