<div class="container" style="margin:50px; align-content: center;;">
  <div class="row">
    <div class="card" style="width: 380px; margin: 20px;">
      <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img
              src="/assets/img/default-avatar.png"
              class="rounded-circle user_img1"
            />
          </div>
          <div class="user_info">
            <span>Contacts</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="contacts">
          <li class="active">
            <!--Set active when chat open-->
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img
                  src="https://placeimg.com/50/50/people"
                  class="rounded-circle user_img"
                />
              </div>
              <div class="user_info">
                <span>Khalid</span>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img
                  src="https://placeimg.com/50/50/people"
                  class="rounded-circle user_img"
                />
              </div>
              <div class="user_info">
                <br />
                <span>User Name</span>
                <br />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card " style="width: 680px; margin: 20px;">
      <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img
              src="https://placeimg.com/50/50/people"
              class="rounded-circle user_img1"
            />
          </div>
          <div class="user_info">
            <span>Khalid</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-start mb-4">
          <div class="msg_cotainer">
            Hi, how are you Suyash?
            <span class="msg_time">8:40 AM, Today</span>
          </div>
        </div>
        <div class="d-flex justify-content-end mb-4">
          <div class="msg_cotainer_send">
            Hi Khalid i am good tnx how about you?
            <span class="msg_time_send">8:55 AM, Today</span>
          </div>
        </div>
      </div>
      <div class="card-footer" style="padding: 5px;">
        <div class="input-group">
          <textarea
            name=""
            class="form-control type_msg"
            placeholder="Type your message..."
          ></textarea>
          <div class="input-group-append" style="background-color: white;">
            <span class="input-group-text send_btn"
              ><i class="fas fa-location-arrow " style="color: black;"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
