<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col"><label>Event Name: </label></div>
                    <div class="col"><input type="text" name="eventname" class="form-control" required /></div>
                </div>
                <div class="row">
                    <div class="col"><label>Description:</label> </div>
                    <div class="col"><textarea name="descr"  class="form-control" required></textarea></div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class=" control-label">Event Start Date: </label>
                    </div>
                    <div class="col">
                        <input type="date" name="event_start_date" class="form-control" required />
                    </div>
                    <div class="col"><label class="control-label">Event End Date: </label></div>
                    <div class="col"><input type="date" name="event_end_date" class="form-control" required /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="control-label">Venue: </label></div>
                    <div class="col"><input type="text" name="venue" class="form-control" required /></div>
                    <div class="col"><label class=" control-label">Time: </label></div>
                    <div class="col"><input type="text" pattern="\d{1,2}:\d{2}([ap]m)?" placeholder="eg: 10:00am OR 18:30" name="time" class="form-control" required /></div>
                </div>
            </form>
        </div>
    </div>
</div>
