<div
  class="container sidebar col-md-4"
  style="width:15rem;height:680px;margin-left:0px;border:3px solid;background-color: #2ca8ff;"
>
  <h5 class="text-center">Filters</h5>
  <div class="card mt-100 bs">
    <article class="filter-group">
      <header class="card-header">
        <a
          href="#"
          data-toggle="collapse"
          data-target="#collapse_aside4"
          data-abc="true"
          class="collapsed"
          aria-expanded="false"
        >
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">College</h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside4">
        <div class="card-body">
          <ul *ngFor="let b of filter">
            <li>
              <label class="custom-control">
                <input
                  type="checkbox"
                  checked=""
                  class="custom-control-input"
                />
                <div class="custom-control-label">{{ b.viewValue }}</div>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="card bs">
    <article class="filter-group">
      <header class="card-header">
        <a
          href="#"
          data-toggle="collapse"
          data-target="#collapse_aside5"
          data-abc="true"
          class="collapsed"
          aria-expanded="false"
        >
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Department</h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside5">
        <div class="card-body">
          <ul *ngFor="let b of filter">
            <li>
              <label class="custom-control">
                <input
                  type="checkbox"
                  checked=""
                  class="custom-control-input"
                />
                <div class="custom-control-label">{{ b.viewValue }}</div>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="card bs">
    <article class="filter-group">
      <header class="card-header">
        <a
          href="#"
          data-toggle="collapse"
          data-target="#collapse_aside6"
          data-abc="true"
          class="collapsed"
          aria-expanded="false"
        >
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Batch</h6>
        </a>
      </header>
      <div class="filter-content collapse" id="collapse_aside6">
        <div class="card-body">
          <ul *ngFor="let b of filter">
            <li>
              <label class="custom-control">
                <input
                  type="checkbox"
                  checked=""
                  class="custom-control-input"
                />
                <div class="custom-control-label">{{ b.viewValue }}</div>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div>
    <span
      ><button
        class="btn btn-primary "
        name="filter"
        value="Filter"
        type="submit"
      >
        Apply Filter
      </button></span
    >
  </div>
</div>
