<nav class="navbar navbar-expand-md navbar-dark sticky-top navbar-fixed-top" style="background-color: #3f5de6;height:50px">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsenavbar" aria-controls="#collapsenavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav collapse navbar-collapse" id="collapsenavbar">
        <li class="nav-item" style="margin-left: 25px">
            <a href="#" class="nav-link" style="color:white;font-weight: normal;font-size: large;"><i class="fa"></i>Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" style="color:white;font-weight: normal;font-size: large;"><i class="fa "></i>Chat</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" style="color:white;font-weight: normal;font-size: large;"><i class="fa "></i>Add College</a>
        </li>

    </ul>
    <div class="nav-item search-form" style="margin-left: 780px;">
        <a href="#">
            <i class="fa fa-search" style="position:absolute;top: 9px;padding-right: 13px;color: white;padding-bottom: 2px;"></i>
            <input type="text"  id="search1" class="form-control fa fa-search " style="width:400px;color: white;position: relative;" placeholder="Search"  name="search" aria-label="search">
        </a>
        
    </div>
</nav>
