<div class="col-md-6 ml-auto col-xl-2 mr-auto">
  <div class="card">
    <img
      class="card-img-top"
      src="/assets/img/alumni-invite.jpg"
      alt="Card image cap"
    />
    <div class="card-header">
      <h3 style="text-align: center;">Invite Alumni</h3>
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
            <i class="fas fa-envelope"></i> Gmail
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
            <i class="now-ui-icons shopping_shop"></i> Email
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <!-- Tab panes -->
      <div class="tab-content text-center">
        <div class="tab-pane active" id="home" role="tabpanel">
          <p>
            <button class="btn btn-warning ">Send Invite</button>
          </p>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">
          <p>
            <button class="btn btn-primary ">Send Invite</button>
          </p>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
          <p>
            <input
              type="text"
              value=""
              placeholder="Name"
              class="form-control"
            />

            <input
              type="text"
              value="Email"
              class="form-control form-control-success"
            />
            <button class="btn btn-primary ">Send Invite</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
