<div *ngIf="events">
  <div class="card" style="width: 600px;" *ngFor="let event of events">
    <div class="img-div">
      <img class="card-img-top" [src]="event.image" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5>
      <p class="card-text">{{ event.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: {{event.eventDate}}</li>
      <li class="list-group-item">Venue: {{event.venue}}</li>
      <li class="list-group-item">Time: {{event.startTime}} - {{event.endTime}}</li>
    </ul>
    <div class="card-body">
      <a (click)="joinEvent(event.id)" class="btn-primary">Intrested</a>
    </div>
  </div>
</div>
<div *ngIf="!events">
  No event
</div>