<div class="container  " style="height: 60px;background-color: whitesmoke;max-width:inherit;">
    <div class="logo">
        <img class="rounded-circle" alt="40x40" src="https://allgovernmentjobs.in/public/uploads/org_logo/3ae0d033394d61f7c7a65e0cc84c6706.jpg"
          data-holder-rendered="true" >
    </div>
    <nav>
        <ul style="margin-right: 100px;padding-top: 15px;">
            <li>
                <a href="#" class="btn btn-primary">Login</a>
                
            </li>
        </ul>
    </nav>
</div>


